body {
    padding: 0px;
    margin: 0px;
    background-color: #8E8E8E;
}

.ContainerGrande {
    height: 100%;
    width: 100%;
}

.ContainerMedio {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/telaInicia.png);
    background-position: center;
    background-repeat: round;
    background-size: cover;
}

.ContainerPequeno {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
}

.ContainerPequeno h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 10;
    font-size: 150px;
    margin: 0px;
    text-shadow: 5px 2px 5px whitesmoke;
}

.ContainerPequeno h3 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 10;
    font-size: 60px;
    margin: 0px;
}

.ContainerMusica {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(../assets/Sol.png);
    background-position: center;
    background-repeat: round;
    background-size: cover;

}

.ContainerPequenoMusica {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.514);
}

.ConteudoMusica {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ConteudoMusica h1 {
    font-size: 60px;
    color: white;
}

.ConteudoMusica p {
    font-size: 30px;
    width: 60%;
    text-align: justify;
    color: white;
}

/* Importancia da musica no nosso dia a dia  */
.ContainerImportancia {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ContainerMedioImportancia {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/Linha.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.514);
}

.ContainerMenorImportancia {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}


.ContainerImportancia h1 {
    font-size: 60px;
    color: white;
}

.ContainerImportancia p {
    font-size: 30px;
    width: 60%;
    text-align: justify;
    color: white;
}

/* Depoimentos */
.ContainerDepoimentos {
    display: flex;
    height: 100%;
    width: 100%;
}

.ContainerMedioDepoimentos {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/VerticalMusica.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.514);
}

.ContainerPequenoDepoimentos {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.ContainerPequenoDepoimentos p {
    font-size: 35px;
    width: 50%;
    text-align: justify;
}

.ContainerPequenoDepoimentos h1 {
    font-size: 60px;
}

.Btn {
    height: 70px;
    width: 40%;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    font-size: 25px;
    font-family: "Dancing Script", cursive;
}

.Btn:hover {
    background-color: #333333;
    color: white;
    font-size: 25px;
    transition: 2s;
    font-family: "Dancing Script", cursive;
    font-weight: 10;
    scale: 1.0;
    border: #8E8E8E 10px;
}

.ContainerBeneficios {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}

.ContainerMedioBeneficios {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../assets/MusicaCaindo.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.514);
}

.ContainerPequenoBeneficios {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.ContainerBeneficios p {
    font-size: 30px;
    width: 60%;
    text-align: justify;
    color: white;
    margin: 0px;
}

.Btn1 {
    height: 70px;
    width: 20%;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    font-size: 25px;
    font-family: "Dancing Script", cursive;
}

.Btn1:hover {
    background-color: #333333;
    /* Cor diferente para o hover */
    color: white;
    font-size: 35px;
    transition: 2s;
    font-weight: 10;
    border: 1px solid #8E8E8E;
    /* Corrija a sintaxe da borda */
    transform: scale(1.1);
    /* Use a propriedade transform */
}

.ContainerBeneficios h1 {
    font-size: 60px;
    color: white;
    margin-bottom: 0px;
}

.ContainerBeneficios h3 {
    font-size: 35px;
    color: white;
    margin-top: 0px;
    margin-bottom: 5px;
}

.ContainerBeneficios a {
    text-emphasis: none;
    color: black;
    cursor: pointer;
}

.ContainerBeneficios a:hover {
    color: white;
    cursor: pointer;
    transition: 1s;
}

.ContainerSobre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url(../assets/SobreMim.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -10vw;
    background-color: rgba(0, 0, 0, 0.514);


}

.ContainerMedioSobre {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    justify-self: center;
}

.ContainerMedioSobre img {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    box-shadow: 19px 11px 20px 0px #8E8E8E;
    border: 7px solid #333333;
    animation: teste 2s infinite ease-in;


}


.CaixaImagem {
    display: flex;
    height: 100vh;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ContainerPequenoSobre {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 50%;
    flex-direction: column;
}

.ContainerPequenoSobre p {
    font-size: 35px;
    width: 100%;
    text-align: justify;
    color: white;
    margin-left: 1%;
    margin-top: 0px;
    margin-bottom: 1px;
}

.ContainerPequenoSobre h1 {
    font-size: 60px;
    color: white;
}

.Comunicacao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

/* Instrumetos */
.ContainerInstrumentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.ConteudoInstrumentos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-image: url(../assets/NotasMusica.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.514);
}

.ConteudoInstrumentos h1 {
    font-size: 60px;
    color: white;
}

.Instrumentos {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

@keyframes teste {
    0% {
        border-color: #333333;

    }

    10% {
        border-color: #7D7D7D;
    }

    20% {
        border-color: #6C6C6C;
    }

    30% {
        border-color: #5B5B5B;
    }

    40% {
        border-color: #4A4A4A;
    }
}

.buttons {
    display: flex;
    justify-content: space-around;
    top: 20px;
    left: 20px;
}

.buttons button {
    width: 150px;
    height: 50px;
    background-color: white;
    margin: 20px;
    color: #568fa6;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.buttons button:before,
.buttons button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #6C6C6C;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:after {
    left: 0;
    bottom: 0;
}

.buttons button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.buttons button span:before,
.buttons button span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #6C6C6C;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:after {
    left: 0;
    bottom: 0;
}

.buttons button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
}

.buttons button p:before,
.buttons button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
}

.buttons button p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
}

.buttons button p:after {
    content: attr(data-text);
    top: 150%;
    color: #333333;
}

.buttons button:hover:before,
.buttons button:hover:after {
    width: 100%;
}

.buttons button:hover span {
    z-index: 1;
}

.buttons button:hover span:before,
.buttons button:hover span:after {
    height: 100%;
}

.buttons button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
}

.buttons button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
}

.buttons button.start {
    background-color: #333333;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.buttons button.start p:before {
    top: -50%;
    transform: rotate(5deg);
}

.buttons button.start p:after {
    color: white;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
}

@keyframes start {
    from {
        top: -50%;
    }
}

.buttons button.start:hover:before,
.buttons button.start:hover:after {
    display: none;
}

.buttons button.start:hover span {
    display: none;
}

.buttons button:active {
    outline: none;
    border: none;
}

.buttons button:focus {
    outline: 0;
}

/* Caixa dos Instrumentos  */

.Teclado {
    width: 20%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/fundoLogin.png);
    background-position: center;
    border-radius: 15%;
    }
    
    .Guitarra {
        width: 20%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #568fa6;
        border-radius: 15%;
        background-image: url(../assets/GuitarraPequena.jpg);
        background-position: center;
        }
        
        .Baixo {
            width: 20%;
            height: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #568fa6;
            border-radius: 15%;
            background-image: url(../assets/BaixoPequena.jpg);
}